// |=============== FONT-FAMILY ===============>
// |CM| Main font-family
$primary-font-family: "Open Sans", system-ui;

// |=============== COLOR ===============>
// |CM| Change favorite color (Bright Navy Blue - 211)
$hue-color: 211;
// |CM| HSL color mode
$primary-color: hsl($hue-color 58% 46%);
$second-color: hsl(0 0% 89%);
$third-color: hsl(0 0% 85%);
$fourth-color: hsl(0 0% 77%);
$fifth-color: hsl(0 0% 47%);
$sixth-color: hsl(0 0% 42%);
$seventh-color: hsl(0 0% 11%);
// |CM| Colors for effects
$primary-color-effects: hsl($hue-color 66% 66%);
$second-color-effects: hsl($hue-color 76% 24%);
// |CM| Universal colors
$white-color: hsl(0 0% 100%);
$black-color: hsl(0 0% 0%);

// |=============== FONT-WEIGHT ===============>
// |CM| Main font-weight
$primary-font-weight: 300;
// |CM| Additional font-weights
$second-font-weight: 600;

// |=============== FONT-SIZE ===============>
// |CM| Base font-size ( .5rem = 8px, 1rem = 16px, 1.5rem = 24px ...)
$text-size-base: 16px;
// |CM| Different font-size options
$text-size-min-big: $text-size-base - 6px;
$text-size-min-large: $text-size-base - 5px;
$text-size-min-huge: $text-size-base - 4px;
$text-size-tiny: $text-size-base - 2px;
$text-size-small: $text-size-base - 1px;
$text-size-medium: $text-size-base + 1px;
$text-size-big: $text-size-base + 4px;
$text-size-large: $text-size-base + 20px;
$text-size-huge: $text-size-base + 24px;

// |=============== BORDER-RADIUS ===============>
// |CM| Main border-radius
$primary-br: 3px;
// |CM| Additional border-radiuses
$second-br: 5px;
$third-br: 20px;
$fourth-br: 50px;
$fifth-br: 50%;

// |=============== GAP ===============>
// |CM| Specifying a fallback color for background images
$primary-gap: 19px;
$second-gap: 30px;

// |=============== TRANSITION ===============>
// |CM| Duration of effects (most effective 0.2 to 0.4s)
$medium-transition-duration: 0.3s;

// |=============== Z-INDEX ===============>
// |CM| Ready z-index values for different components
$z-modal: 1000;
