.section-services {
  border-bottom: 1px solid $second-color;
  padding: 87px 0 160px;

  &__title {
    margin-bottom: 21px;
    text-align: center;
  }

  &__desc {
    margin-bottom: 54px;
    text-align: center;
  }
}

.list-services {
  @include grid;

  grid-auto-flow: dense;
  grid-auto-rows: minmax(320px, auto);
  grid-template: minmax(320px, auto) / repeat(4, minmax(auto, 270px));
  gap: $second-gap;

  &__content {
    border: 1px solid $second-color;
    border-radius: $second-br;
    padding: 60px 29px 61px;
    min-height: 100%;
    text-align: center;
    transition-property: border-color, background-color;
    transition-duration: $medium-transition-duration;
    transition-timing-function: ease-in-out;

    &:hover {
      border-color: $primary-color;
      background-color: $primary-color;
      cursor: default;
    }

    &:hover .list-services__icon {
      fill: $white-color;
    }

    &:hover .list-services__title,
    &:hover .list-services__desc {
      color: $white-color;
    }
  }

  &__icon {
    margin-bottom: 27px;
    fill: $primary-color;
    transition: fill $medium-transition-duration ease-in-out;
  }

  &__title {
    margin-bottom: 15px;
    font-weight: $second-font-weight;
    font-size: $text-size-big;
    line-height: 26px;
    color: $seventh-color;
    transition: color $medium-transition-duration ease-in-out;
  }

  &__desc {
    font-size: $text-size-tiny;
    line-height: 21px;
    transition: color $medium-transition-duration ease-in-out;
  }
}
