<section class="section-articles" id="section-articles">
  <div class="container section-articles__container">
    <h2 class="title section-articles__title">
      Articles
    </h2>
    <ul class="list-articles section-articles__list">
      <li class="list-articles__item">
        <a class="list-articles__link" href="#">
          <article class="list-articles__content">
            <time class="list-articles__date" datetime="2021-11-15">
              15&nbsp;Nov 2021
            </time>
            <h3 class="list-articles__title">
              Jurisdiction
            </h3>
            <p class="list-articles__desc">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
            </p>
          </article>
        </a>
      </li>
      <li class="list-articles__item">
        <a class="list-articles__link" href="#">
          <article class="list-articles__content">
            <time class="list-articles__date" datetime="2021-11-28">
              28&nbsp;Nov 2021
            </time>
            <h3 class="list-articles__title">
              Consulting
            </h3>
            <p class="list-articles__desc">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
            </p>
          </article>
        </a>
      </li>
      <li class="list-articles__item">
        <a class="list-articles__link" href="#">
          <article class="list-articles__content">
            <time class="list-articles__date" datetime="2021-11-29">
              29&nbsp;Nov 2021
            </time>
            <h3 class="list-articles__title">
              Rights and obligations
            </h3>
            <p class="list-articles__desc">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
            </p>
          </article>
        </a>
      </li>
      <li class="list-articles__item">
        <a class="list-articles__link" href="#">
          <article class="list-articles__content">
            <time class="list-articles__date" datetime="2021-12-11">
              11&nbsp;Dec 2021
            </time>
            <h3 class="list-articles__title">
              Contractors
            </h3>
            <p class="list-articles__desc">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
            </p>
          </article>
        </a>
      </li>
    </ul>
  </div>
</section>
