<section class="section-clients" id="section-clients">
  <div class="container section-clients__container">
    <h2 class="title section-clients__title">
      Clients
    </h2>
    <ul class="list-clients section-clients__list">
      <li class="list-clients__item">
        <article class="list-clients__content">
          <p class="list-clients__text">
            Duis autem vel eum iriure dolor in&nbsp;hendrerit in&nbsp;vulputate velit esse molestie consequat, vel illum dolore eu&nbsp;feugiat nulla facilisis at&nbsp;vero eros et&nbsp;accumsan et&nbsp;iusto odio dignissim qui blandit odio dignissim qui blandit molestie consequat.
          </p>
          <div class="list-clients__info">
            <picture>
              <source srcset="img/home/1920/clients/fr-avatar-john.avif 1x, img/home/1920/clients/fr-avatar-john@2x.avif 2x, img/home/1920/clients/fr-avatar-john@3x.avif 3x" type="image/avif">
              <source srcset="img/home/1920/clients/fr-avatar-john.webp 1x, img/home/1920/clients/fr-avatar-john@2x.webp 2x, img/home/1920/clients/fr-avatar-john@3x.webp 3x" type="image/webp">
              <img class="list-clients__picture" src="img/home/1920/clients/fr-avatar-john.png" srcset="img/home/1920/clients/fr-avatar-john@2x.png 2x, img/home/1920/clients/fr-avatar-john@3x.png 3x" width="67" height="67" decoding="async" loading="lazy" alt="The avatar of the user John.">
            </picture>
            <div class="list-clients__data">
              <h3 class="list-clients__title">
                John Armstrong
              </h3>
              <span class="list-clients__post">
                Customer
              </span>
            </div>
          </div>
        </article>
      </li>
      <li class="list-clients__item">
        <article class="list-clients__content">
          <p class="list-clients__text">
            Duis autem vel eum iriure dolor in&nbsp;hendrerit in&nbsp;vulputate velit esse molestie consequat, vel illum dolore eu&nbsp;feugiat nulla facilisis at&nbsp;vero eros et&nbsp;accumsan et&nbsp;iusto odio dignissim qui blandit odio dignissim qui blandit molestie consequat.
          </p>
          <div class="list-clients__info">
            <picture>
              <source srcset="img/home/1920/clients/fr-avatar-elizabeth.avif 1x, img/home/1920/clients/fr-avatar-elizabeth@2x.avif 2x, img/home/1920/clients/fr-avatar-elizabeth@3x.avif 3x" type="image/avif">
              <source srcset="img/home/1920/clients/fr-avatar-elizabeth.webp 1x, img/home/1920/clients/fr-avatar-elizabeth@2x.webp 2x, img/home/1920/clients/fr-avatar-elizabeth@3x.webp 3x" type="image/webp">
              <img class="list-clients__picture" src="img/home/1920/clients/fr-avatar-elizabeth.png" srcset="img/home/1920/clients/fr-avatar-elizabeth@2x.png 2x, img/home/1920/clients/fr-avatar-elizabeth@3x.png 3x" width="67" height="67" decoding="async" loading="lazy" alt="The avatar of the user Elizabeth.">
            </picture>
            <div class="list-clients__data">
              <h3 class="list-clients__title">
                Elizabeth Martin
              </h3>
              <span class="list-clients__post">
                Customer
              </span>
            </div>
          </div>
        </article>
      </li>
      <li class="list-clients__item">
        <article class="list-clients__content">
          <p class="list-clients__text">
            Duis autem vel eum iriure dolor in&nbsp;hendrerit in&nbsp;vulputate velit esse molestie consequat, vel illum dolore eu&nbsp;feugiat nulla facilisis at&nbsp;vero eros et&nbsp;accumsan et&nbsp;iusto odio dignissim qui blandit odio dignissim qui blandit molestie consequat.
          </p>
          <div class="list-clients__info">
            <picture>
              <source srcset="img/home/1920/clients/fr-avatar-robin.avif 1x, img/home/1920/clients/fr-avatar-robin@2x.avif 2x, img/home/1920/clients/fr-avatar-robin@3x.avif 3x" type="image/avif">
              <source srcset="img/home/1920/clients/fr-avatar-robin.webp 1x, img/home/1920/clients/fr-avatar-robin@2x.webp 2x, img/home/1920/clients/fr-avatar-robin@3x.webp 3x" type="image/webp">
              <img class="list-clients__picture" src="img/home/1920/clients/fr-avatar-robin.png" srcset="img/home/1920/clients/fr-avatar-robin@2x.png 2x, img/home/1920/clients/fr-avatar-robin@3x.png 3x" width="67" height="67" decoding="async" loading="lazy" alt="The avatar of the user Robin.">
            </picture>
            <div class="list-clients__data">
              <h3 class="list-clients__title">
                Robin Soutby
              </h3>
              <span class="list-clients__post">
                Customer
              </span>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
