<section class="section-contacts" id="section-contacts">
  <div class="container section-contacts__container">
    <h2 class="title section-contacts__title">
      Contacts
    </h2>
    <ul class="list-contacts section-contacts__list">
      <li class="list-contacts__item">
        <h3 class="list-contacts__title">
          Visit&nbsp;Us
        </h3>
        <p class="list-contacts__text">
          Duis autem vel eum iriure dolor in&nbsp;hendrerit in&nbsp;vulputate velit.
        </p>
      </li>
      <li class="list-contacts__item">
        <h3 class="list-contacts__title">
          Call&nbsp;Us
        </h3>
        <a class="link-contacts list-contacts__text" href="tel:79876543210">
          +7 (987) 654-32-10
        </a>
        <a class="link-contacts list-contacts__text" href="tel:71234567890">
          +7 (987) 654-32-10
        </a>
      </li>
      <li class="list-contacts__item">
        <h3 class="list-contacts__title">
          Email&nbsp;Us
        </h3>
        <a class="link-contacts list-contacts__text" href="mailto:example@example.com">
          example@example.com
        </a>
        <a class="link-contacts list-contacts__text" href="mailto:support@example.com">
          support@example.com
        </a>
      </li>
    </ul>
  </div>
</section>
