<section class="section-hero" id="section-hero">
  <div class="container section-hero__container">
    <h1 class="section-hero__title">
      This is&nbsp;simply a&nbsp;smarter way to&nbsp;make your legal online
    </h1>
    <p class="section-hero__desc">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut&nbsp;laoreet dolore.
    </p>
    <button class="btn section-hero__day-trial" type="button">
      Free 30&nbsp;day trial
    </button>
    <span class="section-hero__secure">
      Ssl secured connection
    </span>
  </div>
</section>
