<footer class="site-footer">
  <div class="container site-footer__container">
    <a class="logo-footer site-footer__logo" href="#">
      <img class="logo-footer__picture" src="img/sprites.svg#logo-lionic" width="115" height="44" decoding="async" loading="lazy" alt="The logo of the company Lionic.">
    </a>
    <span class="site-footer__copy">
      Copyright &copy;2017. All Right Reserved
    </span>
    <ul class="list-footer site-footer__list">
      <li class="list-footer__item">
        <a class="list-footer__link" href="#">
          About&nbsp;Us
        </a>
      </li>
      <li class="list-footer__item">
        <a class="list-footer__link" href="#">
          Contact&nbsp;Us
        </a>
      </li>
      <li class="list-footer__item">
        <a class="list-footer__link" href="#">
          Privacy Policy
        </a>
      </li>
      <li class="list-footer__item">
        <a class="list-footer__link" href="#">
          Terms Condition
        </a>
      </li>
    </ul>
    <ul class="socials-footer site-footer__socials">
      <li class="socials-footer__item">
        <a class="socials-footer__link socials-footer__link_tw" href="#" target="_blank" rel="noopener" aria-label="Twitter page.">
          <svg class="socials-footer__icon" width="18" height="14" aria-hidden="true">
            <use xlink:href="img/sprites.svg#icon-tw" />
          </svg>
        </a>
      </li>
      <li class="socials-footer__item">
        <a class="socials-footer__link socials-footer__link_in" href="#" target="_blank" rel="noopener" aria-label="LinkedIn page.">
          <svg class="socials-footer__icon" width="17" height="16" aria-hidden="true">
            <use xlink:href="img/sprites.svg#icon-in" />
          </svg>
        </a>
      </li>
      <li class="socials-footer__item">
        <a class="socials-footer__link socials-footer__link_mail" href="#" target="_blank" rel="noopener" aria-label="Mail page.">
          <svg class="socials-footer__icon" width="24" height="18" aria-hidden="true">
            <use xlink:href="img/sprites.svg#icon-mail" />
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
