<header class="site-header">
  <div class="container site-header__container">
    <a class="logo-header site-header__logo" href="#">
      <img class="logo-header__picture" src="img/sprites.svg#logo-lionic" width="115" height="44" decoding="async" loading="lazy" alt="The logo of the company Lionic.">
    </a>
    <nav class="nav-header site-header__nav" aria-label="Primary.">
      <ul class="nav-header__list">
        <li class="nav-header__item">
          <a class="nav-header__link" href="#section-hero">Home</a>
        </li>
        <li class="nav-header__item">
          <a class="nav-header__link" href="#section-services">Services</a>
        </li>
        <li class="nav-header__item">
          <a class="nav-header__link" href="#section-articles">Articles</a>
        </li>
        <li class="nav-header__item">
          <a class="nav-header__link" href="#section-clients">Clients</a>
        </li>
        <li class="nav-header__item">
          <a class="nav-header__link" href="#section-contacts">Contacts</a>
        </li>
        <li class="nav-header__item">
          <a class="nav-header__link" href="#section-join">Join&nbsp;us</a>
        </li>
      </ul>
    </nav>
    <button class="btn site-header__trial" type="button">
      Free trial
    </button>
  </div>
</header>
